.btn-change-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    opacity: .01;
    cursor: pointer;
    background: linear-gradient(to left, #fff, lightblue, lightblue);
    transition-duration: .8s;
}

.btn-month-back {
    background: linear-gradient(to left, #fff, lightblue, lightblue);
}

.btn-month-forward {
    background: linear-gradient(to right, #fff, lightblue, lightblue);
}

.btn-change-month:hover {
    opacity: .5;
}