@keyframes btn-up-animation {
    from {
        padding-bottom: 10px;
        opacity: .3;
    }

    50% {
        padding-bottom: 20px;
        opacity: .7;
    }

    to {
        padding-bottom: 10px;
        opacity: .3;
    }
}

@keyframes btn-down-animation {
    from {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}