.spend-info, .get-info, .current-info {
    width: 200px;
    height: 200px;
    background-color: #F259F7;
    font-size: 20px;
    margin: 0 0;
}

.outside-circle {
    box-shadow: inset 0 0 5px grey;
}

.inside-circle {
    width: 140px;
    height: 140px;
    box-shadow: 0 0 15px grey;
    transition-duration: .1s;
    cursor: pointer;
}

.inside-circle:hover {
    transform: scale(.95);
    box-shadow: 0 0 7px grey;
}