.month {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    user-select: none;
}

.forward-month-name, .back-month-name {
    text-transform: uppercase;
    color: gainsboro;
    opacity: .3;
}