.sidebar-btn-up {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    transition-duration: .5s;
    background: linear-gradient(#fff, #fff, #D0F3F6);
    border-radius: 100% 100% 0 0;
    opacity: .3;
    cursor: pointer;
}

.sidebar-btn-up:hover {
    animation: btn-up-animation .7s infinite;
}

.sidebar-btn-down {
    cursor: pointer;
}

.sidebar-btn-down:hover {
    animation: btn-down-animation .5s infinite;
}

.sidebar {
    z-index: 1;
    position: fixed;
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 80%;
    min-width: 400px;
    background: white;
    border: 1px solid grey;
    border-bottom: none;
    box-shadow: 0 0 10px gray;
    border-radius: 10px 10px 0 0;
    user-select: none;
    overflow-x: hidden;
    min-width: 700px;
    display: none;
    overflow-y: auto;
}

.sidebar .sidebar-title .strip {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #C47DF7;
}

.sidebar-title img {
    margin: 10px 0;
}

.sidebar .sidebar-body {
    border-top: 1px solid grey;
}

.sidebar-body-title {
    height: 60px;
    border-bottom: 1px solid grey;
    font-size: 30px;
    background: papayawhip;
}

/* // inside styles */

.sidebar-body .sidebar-body-body {
    height: 630px;
    width: 100%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.sidebar-body .sidebar-body-body .spend-type-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.sidebar-body .sidebar-body-body .spend-type-items div {
    font-size: 10px;
    width: 90px;
    height: 90px;
}

.sidebar-body .sidebar-body-body .spend-type-items div img {
    font-size: 10px;
    width: 70px;
    height: 70px;
}

.sidebar-body-body-body {
    width: 100%;
}

.sidebar-buttons {
    height: 50px;
    margin: 20px;
    border-radius: 0;
}

.sidebar-buttons div:first-of-type {
    background: #F798A5;
}

.sidebar-buttons div:last-of-type {
    background: #C2F7AA;
}

.sidebar-buttons div {
    border: 1px solid grey;
    height: 0px;
    cursor: pointer;
    transition-duration: .2s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-buttons div:hover {
    box-shadow: 0 0 7px gray;
}

.sidebar-list-info {
    margin: 20px;
    height: 520px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow-y: auto;
}

.sidebar .list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 70px;
    border-bottom: .5px solid grey;
    font-size: 19px;
}

.sidebar .list-group-item img:first-of-type {
    width: 50px;
}

.list-item-text {
    margin-left: 30px;
}

.sidebar .list-group-item .money-value {
    font-weight: bold;
}

.sidebar .list-group-item .spend-type {
    text-decoration: underline;
}

.spending {
    background: rgb(247,172,180, .5);
}

.income {
    background: rgb(199,247,193, .5);
}

.delete-spending img {
    width: 40px !important;
    opacity: .7;
    cursor: pointer;
    transition-duration: .1s;
}

.delete-spending img:hover {
    opacity: 1;
}

/* // input */

.sidebar-list-info {
    /* display: none; */
}

.back-to-list-info {
    display: none;
}

.container-for-show {
    margin: 20px;
    display: none;
}

.sidebar .money-input-container {
    height: 520px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
}

.sidebar .money-input-container .info-for-type {
    overflow-y: auto;
}

.sidebar .money-input-container .info-for-type .list-group-item {
    font-size: 17px;
}

.sidebar .input-area {
    padding: 20px;
    border-right: 1px solid grey;
}

.symbols {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: BriosoPro;
}

.sidebar .main-input {
    height: 15%;
    font-size: 40px;
    /* font-weight: bold; */
    color: cadetblue;
    text-indent: 10px;
}

.sidebar .main-input::placeholder {
    opacity: .3;
    font-weight: normal;
}

.sidebar .symbol {
    cursor: pointer;
    transition-duration: .2s;
    /* border-radius: 10px; */
    width: 33%;
}

.sidebar .symbol:hover {
    box-shadow: inset 0 0 1px black;
}

.info-for-type-title {
    height: 13%;
    font-size: 20px;
}

.main-input-div img {
    height: 60px;
    margin-right: 10px;
    margin-left: -10px;
}