.spend-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    transition-duration: .3s;
}

.spend-type-item:hover {
    box-shadow: 0 0 10px gray;
}

.spend-type-title {
    display: none;
}